body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:lightgray;
}
h1{
    color:crimson;
}
h2{
    color:cornflowerblue;
}
p{
    font-size:14px;
    line-height:1.5;
    font-family:'Times New Roman', Times, serif;
}
li{
    font-family:'Times New Roman', Times, serif;
}